.chat {
	flex: 0.7;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	padding-bottom: 150px;

	&__header {
		flex: 0.1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		border-bottom: 1px solid lightblue;
		&__right {
			p {
				display: flex;
				align-items: center;
				font-size: 14px;
				margin-right: 4px;

				.MuiSvgIcon-root {
					margin-left: 10px;
					font-size: 18px;
				}
			}
		}
	}
	&__channel-name {
		display: flex;
		text-transform: lowercase;
		.MuiSvgIcon-root {
			margin-left: 10px;
			font-size: 18px;
		}
	}
}
.chat__messages {
	flex: 0.7;
	padding: 40px;
	height: 50vh;
	overflow-y: auto;
}

.message {
	display: flex;
	align-items: center;
	margin-top: 20px;
	img {
		height: 50px;
		width: 50px;
		object-fit: cover;
		border-radius: 10px;
	}

	&__time {
		color: lightblue;
		font-weight: 300;
	}
}
.me {
	margin-top: 20px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;

	img {
		border-radius: 10px;
		height: 50px;
		width: 50px;
		object-fit: cover;
	}
	.message__info {
		justify-content: left;
	}
	&__time {
		color: lightblue;
		font-weight: 300;
	}
}
.chat-input {
	border-radius: 10px;
	flex: 0.2;
	form {
		position: relative;
		display: flex;
		justify-content: center;

		input {
			position: relative;
			bottom: 10px;
			width: 70%;
			border: 1px solid gray;
			border-radius: 2px;
			padding: 40px;
		}
		button {
			display: none;
		}
	}
}
.voice-text {
	flex: 0.2;
	background-color: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	font-size: 40px;
}

.welcome {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
