// .face-video {
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// }

video {
	position: fixed;
	bottom: 0;
	padding: 40px;
	margin: 40px;
}

.emoji-hand {
	background-color: transparent;
	position: relative;
	bottom: 0;
	padding: 40px;
	margin: 40px;
}

.face-video {
	position: absolute;
	bottom: 0;
	padding: 40px;
	margin: 40px;
}

.emoji {
	font-size: 10rem;
	background-color: transparent;
	position: absolute;
	bottom: 0;
}
