@import "./config";
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: $slack-color;
    color: white;

    &__left {
        flex: 0.3;
        display: flex;
        align-items: center;
        margin-left: 20px;

        // .MuiSvgIcon-root {
        //     margin-right: auto;
        //     margin-left: 30px;
        // }
    }
    &__search {
        flex: 0.4;
        background-color: #421f44;
        text-align: center;
        display: flex;
        padding: 0 50px;
        color: gray;
        border: 1px gray solid;
        border-radius: 5px;
        input {
            background-color: transparent;
            border: none;
            text-align: center;
            min-width: 35vw;
        }
    }
    &__right {
        flex: 0.3;
        display: flex;
        align-items: flex-end;
        .MuiSvgIcon-root {
            margin-left: auto;
            margin-right: 20px;
        }
    }
}
