@import "./header";
@import "./sidebar";
@import "./app";
@import "./chat";
@import "./login";
@import "./emoji";

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	background-color: wheat;
	font-family: sans-serif;
}
